# Virtual environment 
spacy_env/
iPortfolio/Project4/myenv4/

# Python cache files
__pycache__/
*.pyc

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store  # macOS
Thumbs.db  # Windows

# Logs and temporary files
*.log
*.tmp
.ipynb_checkpoints/
